.root {
  display: flex;
  flex-direction: column;
  width: 700px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  :global {
    .header {
      height: 45px;
      display: flex;
      align-items: center;
      &-title {
        height: 100%;
        background-color: #ff9900;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 20px;
        padding: 0 20px;
        margin-left: 30px;
        cursor: pointer;
      }
    }

    .apply-list {
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: flex-start;
      box-sizing: border-box;
      padding: 30px;
      &-item {
        box-sizing: border-box;
        padding: 0 12px;
        width: 32%;
        display: flex;
        align-items: center;
        height: 36px;
        background-color: #ffeee8;
        border-radius: 4px;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
        transition: all 0.3s;
        margin-bottom: 20px;
        cursor: pointer;
        &:hover {
          background-color: #fed4c6;
        }
        &:hover .title {
          color: #fa541c;
        }
        .circle {
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: #19be6b;
          margin-right: 10px;
        }
        .title {
          color: #3f536e;
          font-weight: bold;
          transition: all 0.3s;
        }
      }
    }
  }
}
