$primary_color: #3c9cff;

.root {
  display: flex;
  justify-content: center;
  // background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
  background-color: #a11919;
  height: 50px;
  :global {
    .inner {
      width: 1200px;

      .tab-list {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-item {
          color: #fff;
          font-size: 18px;
          font-weight: bold;
          height: 100%;

          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0 30px;
          transition: all 0.2s;
          &:hover {
            background-color: #ff9900;
            cursor: pointer;
            // color: #f56c6c;
          }
        }
        &-item-active {
          background-color: #ff9900;
        }
      }
    }
  }
}
