.root {
  :global {
    .inner {
      width: 1200px;
      margin: 50px auto;
      display: flex;

      &-lf {
        width: 200px;
        border: 1px solid #f0f0f0;
        min-height: 600px;
        box-sizing: border-box;

        .title {
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 22px;
          font-weight: bold;
          color: #fff;
          background-color: #fa3534;
        }
      }
      &-rg {
        flex: 1;
      }
    }
  }
}
