.root {
  min-height: 600px;
  :global {
    .inner {
      width: 1200px;
      margin: 50px auto;
      display: flex;
      justify-content: space-between;
      align-content: space-between;
      flex-wrap: wrap;

      .icon-card {
        display: flex;
        flex-direction: column;
        width: 450px;
        min-height: 350px;
        margin-bottom: 80px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      }
    }

    .inner-link {
      width: 1200px;
      margin: 50px auto;
    }
  }
}
